<ion-split-pane contentId="main">
  <ion-menu contentId="main" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>{{LoginInformacoes?.nome}}</ion-list-header>
        <ion-note>{{LoginInformacoes?.email}}</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
            detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle >
          <ion-item (click)="fazerLogout()">
            <ion-icon slot="start" ios="arrow-undo-circle-outline" md="arrow-undo-circle-sharp"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>